$primary-color: #ff5400;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444444;

$bg-light: #fff;
$bg-grey-light: #eee;
$bg-grey: #a7a7a7;
$bg-grey-dark: #363636;
$bg-dark: #000;

$success: #69af00;