.change-name-form {
    background-color: $bg-light;
    padding: 1.5rem 1rem;

    > h4 {
        color: $bg-dark;
        font-size: 1.25rem;
    }

    > form{
        text-align: center;

        .submit{
            padding: 1rem 4rem;
        }
    }
}