.top-bar {
  height: 90px;
  background-color: $bg-grey-light;

  .ui.grid {
    margin: 0;
    padding: 0;

    .column {
      padding: 0;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    img {
      height: 50px;
      transition: all 0.5s;

      &:hover {
        transform: translateX(15px);
      }
    }
  }

  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    .ui.icon.input > input {
      padding-right: 5px;
    }

    .ui.input {
      background-color: $bg-light;
      margin-right: 2px;

      input {
        background-color: transparent;
        color: $bg-light;
        width: 350px;
        font-size: 20px;
        transition: width 0.7s;

        &:focus {
          width: 450px;
        }
      }

      i {
        color: $bg-dark;
        opacity: 1;
        font-size: 25px;
      }
    }
  }
}
